*.class
log/
cache/
lib/
dist/
target/
project/boot/
project/plugins/project/
project/project/
.bloop/
.bsp/
.metals/
.ammonite/
metals.sbt
*.worksheet
*.log
*.iml
*.ipr
*.iws
.idea
.vscode/
.scala-build/
index.scip
